body {
background-color: #fff3e0;
font-family: Arial, sans-serif;
display: flex;
justify-content: center;
align-items: center;
padding: 30px;
}

.container {
background: white;
padding: 30px;
border-radius: 15px;
width: 360px;
box-shadow: 0px 0px 15px rgba(255, 140, 0, 0.4);
}

h1 {
color: #e65100;
text-align: center;
margin-bottom: 25px;
}

.card {
background: #ffe0b2;
padding: 15px;
border-radius: 10px;
margin-bottom: 20px;
text-align: center;
}

h2 {
color: #ef6c00;
}

input {
width: 90%;
margin: 5px auto;
display: block;
padding: 8px;
border: 1px solid #ff9800;
border-radius: 5px;
}

button {
background-color: #ff9800;
color: white;
border: none;
padding: 8px 20px;
border-radius: 6px;
margin-top: 8px;
cursor: pointer;
font-weight: bold;
}

button:hover {
background-color: #e65100;
}

p {
margin-top: 8px;
color: #4e342e;
font-weight: 600;
}
 

